@import "https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

div.widget {
  width: 355px;
  height: 125px;
  margin: 150px auto;
  background-color: #fcfdfd;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

input:focus {
  outline: 0;
}

button:hover {
  color: white;
  background-color: #719ece;
  border-bottom: #719ece;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

.mainWeather {
  /* change this sometime, maybe */
  /* background: rgb(187, 156, 170);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgb(149, 174, 202) 100%
  ); */
  background-image: url("https://img.hoodline.com/uploads/story/image/387530/istock__..featured_image_1..sunny_4.jpg.jpg");
  background-size: cover;

  box-shadow: 0 0 10px black;
}

/*
https://t4.ftcdn.net/jpg/05/13/26/73/360_F_513267391_QEmNGeOFLLqrILTnoq21dReUPp5UsoNr.jpg
https://img.hoodline.com/uploads/story/image/387530/istock__..featured_image_1..sunny_4.jpg.jpg
https://s7d2.scene7.com/is/image/TWCNews/heavy_rain_jpg-11
https://image-renderer.sinclairstoryline.com/prod/image-renderer/16x9/full/1015/center/80/2a85926f-e07c-42b4-bc77-b3681d864147-large16x9_be94f27fc70a4e6cb3cc9a448da929b8SnowfallsinEllicottCityVeronicaJohnson.jpeg
*/
